@import '~antd/dist/antd.css';

body { 
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background-color: white;
  width: 100%;
}

.App-header {
  /* background-color: #282c34; */
  height: 100%;
  width: 100%;
  padding: 0em 6em 0em 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  font-weight: 100;
}

.ant-comment-actions {
  justify-content: left;
  float: left;
}

.ant-comment-content-detail {
  text-align: left;
}

#home-search:focus, 
#home-search:hover {
  opacity: 1;
}


#home-search {
  opacity: 0.7;
  transition: all .3s ease-in-out
}

#rolodex:hover {
  color: #61dafb;
  font-weight: bold;
  font-size: 22px;
}